{% extends 'TactSepBundle::base_new.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    	table
		{
		    border-collapse: collapse;
		}
		td, th
		{
		    border: 1px solid black;
		}
    </style>
{% endblock %}

{% block title %}
    {{ '1.3 Pénibilité'|trans }}
{% endblock %}

{% block tactbody %}
</br></br>
	<h3>Ajout d'une nouvelle tâche : </h3></br>
	<form>
		<p>
			<label for="">Nom de la tâche :</label>
       		<input type="text" name="tâche" id="tâche" />
       		</br>
       		<label for="">Fréquence de l'action (unité) :</label>
       		<input type="text" name="unité" id="unité" />
       		</br>
       		<label for="">Fréquence de l'action (valeur) :</label>
       		<input type="text" name="valeur" id="valeur" />
       		</br>
       		<label for="">test :</label>
       		<input type="text" name="test1" id="test1" />
       		</br>
       		<label for="">test :</label>
       		<input type="text" name="test2" id="test2" />
       		</br></br>
       		<button>Ajouter</button><button href="{{ path('sep_conseil_arduousness_handling') }}">Retour</button>
		</p>
	</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}